<h1>Welcome</h1>

<p>So last week I learned Ruby on Rails and I decided to do something <span style="text-decoration:line-through;">useful</span>.</p>

<p>Apparently here in the SF/Bay area everybody expects you to know who's who in silicon valley. E.g. Reed = Reed Hoffman, founder of LinkedIn or Ron = Ron Conway (but not Ronny, that's his son). So, without further ado, here's my <b>Who's Who In Silicon Valley</b> application :)</p>



<%= link_to "Start Playing!", :controller => "game" %>
